<header>
	<div class="container">
		<nav>
			<a href="{{ '/' | url }}">{{ site.name }}</a>
			<a href="{{ '/' | url }}">Home</a>
			<a href="{{ '/villagers/' | url }}">Villagers</a>
			<a href="{{ '/crops/' | url }}">Crops</a>
			<a href="{{ '/fish/' | url }}">Fish</a>
			<a href="{{ '/buildings/' | url }}">Buildings</a>
		</nav>
	</div>
</header>